<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ddd" connectionString="ddddd"/>
  </connectionStrings>
  <appSettings>
    <add key="UseProxy" value="True"/>
    <add key="ProxyServer" value=""/>
    <add key="ProxyPort" value="8080"/>
    <add key="ProxyUsername" value=""/>
    <add key="ProxyPassword" value=""/>

    <add key="DOWNLOAD_DIR" value="D:\Music"/>
    <!--搜搜音乐地址 http://cgi.music.soso.com/fcgi-bin/m.q?w=[歌名/歌手名]&p=[页数]&t=[格式]-->
    <!--格式: -1-全部 0-MP3 1-RM ，2-WMA-->
    <add key="SosoUrl" value="http://cgi.music.soso.com/fcgi-bin/m.q?w={0}&amp;p=1&amp;t={1}"/>
    <!--百度音乐地址 http://mp3.baidu.com/m?f=ms&rf=idx&tn=baidump3&ct=134217728&lf=&rn=&word=[歌名/歌手名]&lm=[格式]&pg=[页数]-->
    <!---格式：-1-全部 0-MP3 1-RM ，2-WMA-->
    <add key="BaiduUrl" value="http://mp3.baidu.com/m?f=ms&amp;rf=idx&amp;tn=baidump3&amp;ct=134217728&amp;lf=&amp;rn=&amp;word={0}&amp;lm={1}"/>
    <!--百度音乐快搜地址 http://box.zhangmen.baidu.com/x?op=12&count=1&title=[歌名]$$[歌手名]$$$$-->
    <add key="BaiduQuickUrl" value="http://box.zhangmen.baidu.com/x?op=12&amp;count=1&amp;title={0}$${1}$$$$"/>
    <!--千千静听歌词信息地址 http://ttlrcct.qianqian.com/dll/lyricsvr.dll?sh?Artist=[歌手名]&Title=[歌名]-->
    <add key="TTLrcListUrl" value="http://ttlrcct.qianqian.com/dll/lyricsvr.dll?sh?Artist={0}&amp;Title={1}"/>
    <!--千千静听歌词地址 http://ttlrccnc.qianqian.com/dll/lyricsvr.dll?dl?Id=[歌曲ID]&Code=[title和artist]&uid=03&mac=002421585787&hds=WD-WMAV22344505"-->
    <add key="TTLrcUrl" value="http://ttlrccnc.qianqian.com/dll/lyricsvr.dll?dl?Id={0}&amp;Code={1}&amp;uid=03&amp;mac=002421585787&amp;hds=WD-WMAV22344505"/>
    <add key="illegalchar" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
